version: '3.8'

services:

  redis:
    image: redis:alpine
    container_name: sentinel_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
     - sentinel_net

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: sentinel_viewer
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
    networks:
      - sentinel_net

volumes:
  redis_data:

networks:
  sentinel_net:
    driver: bridge
